.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #4B0082;
  padding: 0;
  margin: 0%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.form {
  width: 500px;
  border: 2px solid #fff;
  padding: 10px;

}

.header {
  display: flex;
  justify-content: space-between;
}

.header input {
  width: 80%;
  height: 30px;
  font-size: 18px;
}

.header button {
  width: 20%;
}
.todoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action  {
  width: 150px;
  height: 30px;
  font-size: 18px;
  border: 2px solid #fff;
  text-align: center;
}
.todoBlock p {
  color: azure;
  font-size: 18px;

}

.change {
  background: darkgoldenrod;
  color: white;
}


.delete {
  background: red;
  color: white;
}

